@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* https://coolors.co/ffde66-6eb34d-36558f-1d2330-fdfdfd */
/* https://mycolor.space/gradient?ori=to+right+bottom&hex=%2336558F&hex2=%236BB34D&sub=1 */

/* START - Global */
html {
    scroll-behavior: smooth;
}

.pointer {
    cursor: pointer;
}

.section-padding {
    padding-top: 5rem;
    margin-top: -4rem;
    padding-bottom: 2.5rem;
}

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: #0002;
}

::-webkit-scrollbar-thumb {
    background: #fffa;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
/* END - Global */

/* START - Canvas background */
#qfux {
    position: fixed;
    left:0;
    top:0;
    z-index:-1;
    background-blend-mode: screen;
}
/* END - Canvas background */

/* START - Body */
#DWQo {
    background: #43cea2;
    background: -webkit-linear-gradient(to left top, #43cea2, #185a9d);
    background: linear-gradient(to left top, #43cea2, #185a9d);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;
    background-attachment: fixed;
}
/* END - Body */

/* START - NavBar */
.navbar-bg {
    background-color: #1d2330;
}

.navbar-a, .navbar-fg, .navbar-a:active, .navbar-fg:active, .navbar-a-active:active {
    color: #fdfdfd;
}

.navbar-a:hover, .navbar-fg:hover {
    color: #fdfdfd;
    transform: translateY(-0.05rem) scale(1.01);
    transition: transform .1s;
}

.navbar-a-active:hover {
    color: #20c997;
    transform: translateY(-0.05rem) scale(1.01);
    transition: transform .1s;
}

.navbar-a-active {
    color: #20c997;
}
/* END - NavBar */

/* START - Fonts */
.font-serif {
    font-family: 'Roboto Slab', serif;
}

.font-sans {
    font-family: 'Work Sans', sans-serif;
}

.font-digital {
    font-family: 'Press Start 2P', cursive;
    font-size: 70%;
}

.white-text {
    color: #FFF;
}
/* END - Fonts */

/* START - Other */
.divider {
    background-color: #FFF4;
}
/* END - Other */


/* START - Home */
.intro {
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
    background: #FFF4;
    border-radius: 1rem;
}

.dp-img {
    width:12rem;
    height:12rem;
    border-radius: 6rem 6rem 6rem 6rem;
}

@keyframes scroller {
    0%      {top: -2rem}
    25%     {top: 0rem}
    50%     {top: 2rem}
    100%    {top: 2rem}
}
@-webkit-keyframes scroller {
    0%      {top: -2rem}
    25%     {top: 0rem}
    50%     {top: 2rem}
    100%    {top: 2rem}
}

.subtitle {
    position: absolute;
    top: -2rem;
    animation: scroller 10s ease-in-out infinite;
    color: #fff;
}

.subtitle-container {
    position: relative;
    overflow: hidden;
    margin: .5rem 0;
    height: 1.8rem;
}

.delay-1 {
    animation-delay: 0s;
}

.delay-2 {
    animation-delay: 2s;
}

.delay-3 {
    animation-delay: 4s;
}

.delay-4 {
    animation-delay: 6s;
}

.delay-5 {
    animation-delay: 8s;
}

.scroller {
    padding-bottom: 1rem;
}

.arrows {
	width: 2rem;
    height: 2.5rem;
}

.arrows path {
	stroke: #FFF;
	fill: transparent;
	stroke-width: 0.1rem;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}
@-webkit-keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

.a-media {
    font-size: 1.25rem;
    color: #1d2330;
}

.a-media:hover {
    color: #FFF;
}
/* END - Home */

/* START - Code Block */
.code-block {
    padding: 1rem;
    min-height: 1.5rem;
    background: #222E;
    color: #FFF;
}

.blinker {
    width: .5rem;
    height: 1.1rem;
    margin-bottom: 0.1rem;
    background-color: #FFF;
	animation: blink 1s infinite;
	-webkit-animation: blink 1s infinite; 
}

.code-space {
    margin-top: .3rem;
    margin-left: .2rem;
}

@keyframes blink
{
    0% {opacity:1}
    20% {opacity:1}
    50% {opacity:0}
    80% {opacity:1}
    100% {opacity:1}
}
@-webkit-keyframes blink
{
    0% {opacity:1}
    20% {opacity:1}
    50% {opacity:0}
    80% {opacity:1}
    100% {opacity:1}
}
/* END - Code Block */


/* START - About */
.button-resume {
    vertical-align: middle;
    border-radius: 0.25rem;
    background-color: #20c997;
    border: none;
    color: #1d2330;
    text-align: center;
    font-size: 1.2rem;
    width: 10rem;
    padding: 0.2rem 1.5rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.5rem 0;
}

.button-resume span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.button-resume:focus {
    outline: 0 !important;
}

.button-resume span:after {
    content: '\2B73';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.8rem;
    transition: 0.5s;
    font-size: 1.1rem;
}

.button-resume:hover span {
    padding-right: 1rem;
}

.button-resume:hover span:after {
    opacity: 1;
    right: 0;
}
/* END - About */

/* START - SKILLS */
.semi-donut{
    --percentage: 0;
    --fill: #ff0;
    width: 10rem;
    height: 5rem;
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    overflow: hidden;
    color: var(--fill);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing : border-box;
}

.semi-donut:after{
    content: '';
    width: 10rem;
    height: 10rem;
    border: 20px solid;
    border-color : #0004 #0004 var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing : border-box;
    transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
    animation : fillAnimation 1s ease-in-out;
}

.semi-donut-2{
    --percentage: 0;
    --fill: #ff0;
    --fill2: #0004;
    --duration: 1s;
    width: 10rem;
    height: 5rem;
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    overflow: hidden;
    color: var(--fill);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing : border-box;
}

.semi-donut-2:after{
    content: '';
    width: 10rem;
    height: 10rem;
    border: 20px solid;
    border-color : var(--fill2) var(--fill2) var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing : border-box;
    transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
    animation : fillAnimation var(--duration) ease-in-out;
}


@keyframes fillAnimation{
    0%  {   transform : rotate(-45deg); }
    100% {   transform:  rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) ); }
}

.skill-title {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.skill {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.padding-top-1 {
    padding-top: 1rem;
}
/* END - SKILLS */

/* START - Qualifications */
.qual_title {
    color: #20c997;
    background: #1d233088;
    padding: .5rem .5rem;
    border-radius: .5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.qual_content {
    min-height: 8rem;
}

.qual_content_right {
    text-align: end;
}

.qual_content_subsubtitle {
    font-size: .85rem;
}
/* END - Qualifications */